/* Fonts */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Raleway/Raleway.ttf') format('ttf');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Playfair_Display/PlayfairDisplay.ttf') format('ttf');
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  font-size: 3em;
  letter-spacing: 2px
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px
}
h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #FFFDF9;
  letter-spacing: 2px
}
.text-raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
.quotes {
  font-family: ''
}


.carousel-item img {
  height: 100vh;
  object-fit: cover;
} 
.z-1 {
  z-index: 3;
}
.z-2 {
  z-index: 5;
}
.color-dark {
  color: #272F30;
}
.color-light {
  color: #FFFDF9;
}
.color-red {
  color: #7D3927;
}


#intro-container {
  overflow: hidden;
  max-height: 100vh;
}

#intro-container:after {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1010;
  background: linear-gradient(180deg, rgba(39,47,48,0.43) 80%, rgba(132,134,130,0.69) 89%, #F2EDE3 99%);
  height: 100vh; 
}

#intro-container.active #main-navigation {
  top: 50%;
  margin-top: -253px;
}

#intro-container.active #subnavi {
  opacity: 0;
}

#slogan {
  z-index: 1011;
}
#slogan.animated {
  transition: all .5s linear;
}
#slogan.fixed {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 84vh;
}
#chevron {
  z-index: 1011;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 94vh;
  font-size: 2em;
}

/* Main-Navi */
#main-navigation {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1011;
  margin-top: 0px;
}
#main-navigation.animated {
  transition: all .5s linear;
}
#main-navigation.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(242,237,227);
  box-shadow: 0 0 10px 1px rgba(62,59,54,0.4);
}
#main-navigation.fixed a {
  color: #272F30;
}
#main-navigation.fixed img {
  display: none;
}

/* Subnavi */
#subnavi {
  background: none;
  padding: 1em;
  color: #F2EDE3;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  z-index: 100;
  opacity: 1;
  transition: opacity .5s linear;
}
#subnavi a {
  color: #F2EDE3;
  text-decoration: none;
}
#subnavi a:hover {
  color: #A76751;
}
#subnavi.top-position {
  background: #F2EDE3;
  color: #3E3B36;
  box-shadow: 0 0 10px 1px rgba(62,59,54,0.4);
}
#subnavi.top-position a {
  color: #3E3B36;
  text-decoration: none;
}
#subnavi.top-position a:hover {
  color: #7D3927;
}

/* Mobile-Navi */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  right: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-menu {
  padding-top: 2rem;
}
.overlay-menu a {
  display: block;
}
.overlay a {
  padding: 3.5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.burgermenu-logo {
  height: auto;
  max-width: 20%;
}
.burger-social {
  margin-top: 2rem;
}


/* Style Burger-Menu */
#burger-icon {
  top: 10px;
  right: 45px;
  z-index: 1050;
  cursor: pointer;
  position: absolute;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.bar2 {
  width: 25px;
  height: 5px;
  margin-left: 10px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar2 {
  -webkit-transform: translate(-8px, -8px);
  transform: translate(-8px, -8px);
}
#burger-icon.fixed {
  position: fixed;
  top: 0%;
  right: 0;
  padding: 10px;
  background-color: rgb(242,237,227);
  box-shadow: 0 0 10px 1px rgba(62,59,54,0.4);
}


/* Background */
.bg-darkbeige {
  background: #F2EDE3;
}
.bg-lightbeige {
  background: #FFFDF9;
}
.bg-brown {
  background: #3E3B36;
}
.bg-darkbrown {
  background: #262220;
}
.transparent-chronology {
  border-top: 3rem solid #A76751; 
  background: linear-gradient(rgba(129,76,57,0.7), rgba(129,76,57,0.7)), url('images/chronology.jpg');
}
.transparent-performance {
  border-top: 3rem solid #3E3B36; 
  background: linear-gradient(rgba(62,59,54,0.65), rgba(62,59,54,0.65)), url('images/performance.jpg');
}
.transparent-customshoes {
  border-top: 3rem solid #A76751; 
  background: linear-gradient(rgba(129,76,57,0.7), rgba(129,76,57,0.7)), url('images/customshoes.jpg');
}
.transparent-caretips {
  border-top: 3rem solid #3E3B36; 
  background: linear-gradient(rgba(62,59,54,0.65), rgba(62,59,54,0.65)), url('images/caretips.jpg');
}
.transparent-voices {
  min-height: 300px;
  border-top: 3rem solid #A76751; 
  background: linear-gradient(rgba(129,76,57,0.7), rgba(129,76,57,0.7));
}
.bg-voices {
  background: url('images/voices.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-transparent-light {
  background: linear-gradient(rgba(255,253,249,0.85), rgba(255,253,249,0.85));
}
.bg-transparent-red {
  background: linear-gradient(rgba(129,76,57,0.7), rgba(129,76,57,0.7));
}
.bg-transparent-brown {
  background: linear-gradient(rgba(62,59,54,0.65), rgba(62,59,54,0.65));
}

.parallax {
  min-height: 300px;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

/* Sidebar Social Media */
.sidebar {
  position: fixed;
  top: 35%;
  right: 0;
}
.item {
  margin: 1px 0 2px;
  width: 4rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.12);
}
.social-icon {
  color:#A76751;
  font-size: 1.5rem;
}
.social-icon:hover {
  color: #3E3B36;
}



.button-red {
  background-color: #7D3927;
  color:#FFFDF9
}
.button-red:hover{
  background-color: #A76751;
  color:#FFFDF9
}

img.siegel {
  max-width: 30%;
  height: auto;
}
@media (max-width: 576px) {
  img.siegel {
    max-width: 80%;
    height: auto;
  }
}
img.grafik {
  max-width: 7rem;
  height: auto;
}

/* Slider Customshoes */
.slide-description {
  background: linear-gradient(rgba(129,76,57,0.8), rgba(129,76,57,0.8));
}
.slide-title {
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

.hidden {
  display: none !important;
}

.splide__slide {
  display: flex;
  flex-direction: column;
  justify-content : flex-end;
}

.circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-family: 'Literata';
  font-size: 4em;
  display: flex;
  justify-content : center;
  align-items: center;
  margin: auto;
}

.voice {
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .voices {
    max-height: 705px;
  }

  .voice {
    width: 31%;
    word-wrap: break-word;
  }
}

@media (min-width: 1200px) {
  .voices {
    max-height: 625px;
  }
}

/*Footer*/
@media (min-width: 768px) {
  .footerlogo {
    margin-top: -9em;
  }
}
@media (max-width: 767px) {
  .footerlogo {
    margin-top: -3em;
  }
}
.link-footer {
  font-family: 'Raleway', sans-serif;
  color:#B5AC9E;
  text-decoration: none;
  box-shadow: none;
}
.link-footer:hover {
  color:#C48B77;
}
.link-footer:focus {
  box-shadow: none;
}
.button-close {
  background-color: #B5AC9E;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
}
.button-close:hover {
  background-color: #A29A8E;
  color: #ffffff;
}